header {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
  }
  #header.scroll {
    position: fixed;
    background: #EEE;
    animation-name: anime;
    animation-duration: 0.3s;
  }
  @keyframes anime {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }